<div class="container">
  <div class="jumbotron text-center">
    <img class="center" class="rounded" src="./assets/img/burger.jpg" alt="burger">
    <h1>BURGER CORRAL</h1>
    <div class="row">
      <div class="col-4" id="addBurger">
        <ul>
          {{#each burgers}}
            {{#unless devourer}}
              {{> devourer=false}}
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-6" id="deleteBurger">
        <ul>
          {{#each burgers}}
            {{#if devourer}}
              {{> devourer=true}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
    <hr>
    <form>
      <div class="form-group">
        <label for="exampleTextarea">Burger Name</label>
        <div class="row">
          <div class="col-3">
          </div>
          <textarea class="form-control col-6" id="burgerTextArea" rows="3"></textarea>
          <div class="col-3">
          </div>
        </div>
      </div>
      <button type="submit" id="submit">Submit</button>
    </form>
    <p>Enter a burger name you want to eat it, click the 'Submit' button</p>
  </div>
</div>
